.comments{
	padding: 5% 0 0 0;
	.comment-count{
		font-family: $header-font;
		font-weight: 800;
		@include font-size(16);
		text-transform: uppercase;
		border-bottom: 3px solid $light-grey;
		display: block;
		padding-bottom: 2%;
	}
	.comment-list{
		list-style-type: none;
		&:hover{
			> li{
				opacity: .4;
				&:hover{
					opacity: 1;
				}
			}
		}
		> li.comment{
			transition: $transition;
			transform: translate3d(0,0,0);
			margin: 0;
			article.comment{
				padding: 2.5% 0;
				overflow: hidden;
				border-bottom: 1px solid $light-grey;
				.comment-author{
					float: left;
					width: 15%;
					@extend %ib;
					img{

					}
				}
				.comment-content{
					width: 85%;
					padding: 0 0 0 5%;
					@extend %ib;
					.comment-meta{
						font-size: .9em;
						margin-bottom: 1%;
						cite{

						}
						span{

						}
					}
					p{

					}
					footer{
						.reply{
							font-size: .9em;
							.comment-reply-link{

							}
						}
					}

				}
			}
			ol.children{
				li.comment{
					margin: 0 0 0 5%;
					article.comment{
						.comment-content{
							
						}
					}
				}
			}
		}
	}
	#respond{
		padding: 0%;
		label{
			display: block;
		}
		form{
			.form-allowed-tags{
				display: none;
			}
			input, textarea{
				padding: 10px;
				font-size: 14px;
				border: 3px solid #f5f5f5;
			}
			.form-submit {
				input[type="submit"]{
					@extend .btn;
				}
			}
		}
	}
}