#nav {

    @include breakpoint($medium) {
        display: inline-block;
        text-align: right;
    }

    ul.main-menu {
        text-align: right;
        line-height: 100px;
        transition: $transition;


        @include breakpoint($medium) {
            display: inline-block;
        }

        li {
            @include font-size(14);
            margin: 0;
            vertical-align: middle;
            &:last-child{
                margin: 0;
            }
            a {
                &.active{
                    color: $theme-color; // set by themeoptions .sc class
                }
            }
        }

        // dropdown
        &.main-menu {
            z-index: 202;
            zoom: 1;
            margin: 0;

            .sub-menu {
                text-align: center;
                border: 1px solid #efefef;
                position: absolute;
                visibility: hidden;
                margin: 0;
                padding: 5px 0;
                background-color: #ffffff;
                opacity: 0;
                top: 0;
                transition: opacity .35s cubic-bezier(.2,.4,.1,1), margin .35s cubic-bezier(.2,.4,.1,1);

                li {
                    display: block;
                    float: none;
                    margin: 0;

                    a {
                        display: block;
                        padding: 10px 20px;
                        min-height: 25px;
                        float: none;
                        color: #A4A4A4;
                    }

                    &.current-menu-item > a,
                    &.active > a,
                    &:hover > a {
                        color: #444;
                        background-color: #fafafa;
                    }

                    &:hover > a {
                        background-color: #000;
                        color: #fff;
                    }

                    > a {
                        color: #6C6C6C;
                        &:hover {
                            color: #fff;
                        }
                    }

                }

                .sub-menu {
                    left: 100%;
                    top: -1px;
                    z-index: 9999;
                    margin: 0;
                    border-left: 0;
                }

            }

            li {
                position: relative;
                z-index: 203;
                list-style: none;
                &:hover {
                    > .sub-menu {
                        visibility: visible;
                        opacity: 1;
                        height: auto;
                    }
                }
            }

            a {
                z-index: 204;
            }

            > li {

                > a {
                    display: block;
                    padding: 0;
                    &:not(.active) {
                        color: #ccc;
                    }
                    text-align: center;
                    font: 14px/20px $header-font;
                    margin: 0;
                    display: block;
                    padding: 10px;
                    text-align: center;
                    &:hover {
                        opacity: 1;
                    }
                    &:after,
                    &:before {
                        background-color: #d9d9d9;
                        position: absolute;
                        content: '';
                    }
                }

                > .sub-menu {
                    margin-top: 20px;
                    top: 40px;
                    padding: .5em 0;
                    left: 50%;
                    transform: translateX(-50%);
                    max-width: 180px;
                    @extend %no-flick;

                    &:before,
                    &:after {
                        border-style: solid;
                        border-width: 0 8px 8px 8px;
                        content: "";
                        left: 50%;
                        margin-left: -8px;
                        position: absolute;
                    }
                    &:before {
                        border-color: transparent transparent #efefef transparent;
                        top: -9px;
                    }

                    &:after {
                        border-color: transparent transparent #ffffff transparent;
                        top: -8px;
                    }
                }

                &.dropdown {
                    > a {
                        &:before {
                            width: 5px;
                            height: 1px;
                            right: 3px;
                            top: 30px;
                        }
                        &:after {
                            width: 1px;
                            height: 5px;
                            right: 5px;
                            top: 28px;
                        }
                    }
                }

                &.current-menu-item > a,
                &.active > a,
                &:hover > a,
                & > a:hover {
                    color: $theme-color;
                }

                &:hover {
                    > .sub-menu {
                        margin-top: 0;
                    }
                }
            }

            &:after {
                clear: both;
            }

        }

    }

}