@keyframes fadeIn {
    from {
        opacity:0;
    } to {
        opacity:1;
    }
}
@keyframes fadeInDown {
    from {
        opacity:0;
        transform: translateY(-10%);
    } to {
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    from {
        opacity:0;
        transform: translateY(10%);
    } to {
        opacity:1;
        transform: translateY(0%);
    }
}

@keyframes fadeInLeft {
    from {
        opacity:0;
        transform: translateX(10%);
    } to {
        opacity:1;
        transform: translateX(0%);
    }
}

@keyframes fadeInRight{
    from {
        opacity:0;
        transform: translateX(-10%);
    } to {
        opacity:1;
        transform: translateX(0%);
    }
}

* {
    box-sizing: border-box;
}
body.login{
    background: #222 url(images/stressed-linen/stressed-linen.png);
}
#login{
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
.login h1 a{
    height: 300px;
    width: auto;
}
.login h1 a{
    background: url(logos/logo-2.png) no-repeat center;
    margin: 0;
    height: 120px;

    opacity:0;
    animation: fadeInDown cubic-bezier(0.2, .4, .1, 1);
    animation-fill-mode: forwards;
    animation-duration: .8s;
    animation-delay: .1s;

    background: none;
    text-indent: 0;
    font-size: 4.25rem;
    font-family: damion;
    color: white;
    text-transform: lowercase;
    text-decoration: none;
    text-align: center;
    display: block;
    font-weight: 100;
    height: 100px;
    font-smoothing: antialiased;
    padding: 0;
    overflow: visible;
}
.login form{
    width: 320px;
    margin: 0 auto 10px;
    padding: 10px 25px 25px;
    font-weight: 400;
    background: #FFF;
    overflow: hidden;
    font-family: 'Open Sans',helvetica, sans-serif;
    border: none;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.7) 0 4px 10px -1px;

    opacity:0;
    animation: fadeInUp cubic-bezier(0.2, .4, .1, 1);
    animation-fill-mode:forwards;
    animation-duration: .8s;
    animation-delay: .1s;
}
.login label {
    color: #C3A8A8;
    color: transparent;
    font-size: 14px;
    overflow: hidden;
    font-weight: 100;
    display: block;
}
.login form .input,
.login input[type=text] {
    border-radius: 0;
    padding: 10px;
    line-height: normal;
    margin: 0;
    font-size: 14px;
    border: 2px solid #CFCFCF;
    background: #F5F5F5;
    font-family: 'Open Sans',sans-serif;
    outline: 0;
    box-shadow: none;
    letter-spacing: .5px;

}
.login #nav,
.login #backtoblog {
    text-shadow: none;
    margin: 0;
    padding: 0;
}

.login #nav {
    opacity:0;
    animation:fadeInLeft cubic-bezier(0.2, .4, .1, 1);
    animation-fill-mode:forwards;
    animation-duration: .8s;
    animation-delay: .5s;
}

.login #backtoblog {
    opacity:0;
    animation:fadeInRight cubic-bezier(0.2, .4, .1, 1);
    animation-fill-mode:forwards;
    animation-duration: .8s;
    animation-delay: .5s;
}

.login #nav a,
.login #backtoblog a{
    color: white!important;
    font-weight: 100;
}
.login #backtoblog{
    padding-right: 0;
}
.forgetmenot{
    display: none;
}
#wp-submit {
    background: rgba(238, 235, 235, 1);
    color: #666;
    border: none;
    text-transform: uppercase;
    clear: both;
    width: 100%;
    font-size: 12px;
    box-shadow: none;
    display: block;
    height: auto;
    padding: 10px 20px;
    text-shadow: none;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 0px;
}